<!doctype html>
<html>
    <head>
        <title>ClueBot: {% block title %}Main{% endblock %}</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}"/>
        <link rel="stylesheet" href="../static/style.css"/>
    </head>
    <body>
	<h1>cluebot</h1>
        <form action="{{ url_for('search') }}" method="GET">
        <div class="searchform">
            <label for="q">Word or clue:</label>
            <input type="text" size="50" name="q"/>
            <input class="button" type="submit" value="Solve"/>
        </div>
        </form>
        
        {% block main %}
        {% endblock %}
    </body>
</html>
