{% extends "base.html" %}
{% block title %}Main page{% endblock %}
{% block main %}
<div class="instructions">
<p>This page takes in natural-looking clues, and outputs what it thinks are the
best answers that fit your constraints.</p>
<p>You can specify a length or a regular
expression to match. Separating words by semicolons mean you want to match
almost all of them, not just one.</p>
<p><b>Examples:</b></p>
<table class="examples">
<tr class="example-row">
<td class="clue">Marsupial</td>
<td class="answer">&rarr; WOMBATS, OPOSSUMRAT, POUCHEDMOLE...</td>
</tr>

<tr class="example-row">
<td class="clue">Assertion of the falsity of a given proposition (8)</td>
<td class="answer">&rarr; DISPROOF...</td>
</tr>

<tr class="example-row">
<td class="clue">US President /.A....../</td>
<td class="answer">&rarr; VANBUREN, HARRISON, GARFIELD...</td>
</tr>

<tr class="example-row">
<td class="clue">/.A.B.C../</td>
<td class="answer">&rarr; BARBECUE, BARBICAN, NAMBUCCA...</td>
</tr>

<tr class="example-row">
<td class="clue">black; union; hi</td>
<td class="answer">&rarr; JACK...</td>
</tr>

<tr class="example-row">
<td class="clue">up; down; strange; charm; top; bottom</td>
<td class="answer">&rarr; QUARK, QUARKS, ...</td>
</tr>

</table>
</div>
{% endblock %}
