{% extends "base.html" %}
{% block title %}Main page{% endblock %}
{% block main %}
<div class="instructions">
<p>This page takes in natural-looking clues, and outputs what it thinks are the
best answers that fit your constraints.</p>
<p>You can specify a length or a regular
expression to match. Separating words by semicolons mean you want to match
almost all of them, not just one.</p>
<p><b>Examples:</b></p>
<table class="examples">
<tr class="example-row">
<td class="clue"><a href="/search?q=Marsupial">Marsupial</a></td>
<td class="answer">&rarr; WOMBATS, OPOSSUMRAT, POUCHEDMOLE... (plus lots of extra word information)</td>
</tr>

<tr class="example-row">
<td class="clue">
<a href="/search?q=Assertion+of+the+falsity+of+a+given+proposition+(8)">
Assertion of the falsity of a given proposition (8)
</a>
</td>
<td class="answer">&rarr; DISPROOF...</td>
</tr>

<tr class="example-row">
<td class="clue">
<a href="/search?q=US+President+/.A....../">
US President /.A....../
</a>
</td>
<td class="answer">&rarr; VANBUREN, HARRISON, GARFIELD...</td>
</tr>

<tr class="example-row">
<td class="clue">
<a href="/search?q=/.A.B.C../">
/.A.B.C../
</a>
</td>
<td class="answer">&rarr; BARBECUE, BARBICAN, NAMBUCCA...</td>
</tr>

<tr class="example-row">
<td class="clue">
<a href="/search?q=black;+union;+hi">
black; union; hi
</a>
</td>
<td class="answer">&rarr; JACK...</td>
</tr>

<tr class="example-row">
<td class="clue">
<a href="/search?q=up;+down;+strange;+charm;+top;+bottom">
up; down; strange; charm; top; bottom
</a>
</td>
<td class="answer">&rarr; QUARK, QUARKS, ...</td>
</tr>

</table>
</div>
{% endblock %}
